langchain-community
langchain
sentence_transformers
text_generation 
qdrant-client
unstructured
markdown
altair==5.3.0
aniso8601==9.0.1
ansi2html==1.9.2
blinker==1.8.2
cachetools==5.3.3
click==8.1.7
cloudpickle==2.2.1
dill==0.3.8
docker==7.1.0
dparse==0.6.3
fastapi==0.110.3
Flask==3.0.3
Flask-RESTful==0.3.10
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
gym==0.26.2
gym-notices==0.0.8
hpack==4.0.0
importlib-metadata==6.11.0
itsdangerous==2.2.0
joblib==1.4.2
jsonpatch==1.33
langchain-cli==0.0.25
langchain-core==0.2.18
langserve==0.2.2
langsmith==0.1.85
libcst==1.4.0
llvmlite==0.43.0
markdown-it-py==3.0.0
matplotlib==3.9.0
mdurl==0.1.2
multiprocess==0.70.16
munkres==1.1.4
numba==0.60.0
numpy==1.26.4
nvgpu==0.10.0
orjson==3.10.6
packaging==24.1
pathos==0.3.2
pox==0.3.4
ppft==1.7.6.8
protobuf==4.25.3
pyarrow==16.1.0
pydeck==0.9.1
pyfunctional==1.5.0
pygame==2.6.0
pynvml==11.5.0
pyproject-toml==0.0.10
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3fs==0.4.2
sagemaker==2.224.2
schema==0.7.7
scikit-learn==1.5.0
shap==0.46.0
shellingham==1.5.4
slicer==0.0.8
smclarify==0.5
smdebug-rulesconfig==1.0.1
smmap==5.0.1
sse-starlette==1.8.2
starlette==0.37.2
streamlit==1.36.0
tabulate==0.9.0
tblib==3.0.0
tenacity==8.5.0
termcolor==2.4.0
threadpoolctl==3.5.0
toml==0.10.2
tomlkit==0.12.5
toolz==0.12.1
torch==2.3.0
torchaudio==2.3.0
torchtext==0.18.0
torchvision==0.18.0
triton==2.3.0
typer==0.9.4
uvicorn==0.23.2
watchdog==4.0.1
Werkzeug==3.0.3
zstandard==0.22.0
